<div class="container">
  <h2>Search by Japanese postcode:</h2>
  <form action="/api/v1/areas/show" method="get" accept-charset="UTF-8">
    <label for="query">Search for:</label>
    <input id="query" name="query" type="text" />
    <input type="submit" value="Search">
  </form>
</div>
