<div class="container">
  <p>Find me in app/views/pages/home.html.erb</p>
  <h2>Search by Japanese postcode:</h2>
  <form action="">
    <input type="search" name="" id="">
    <input type="submit" value="Search">
  </form>
</div>
