.navbar-jhza {
  justify-content: space-between;
  background: white;
}

.navbar-title {
  font-size: medium;
  margin: 0;
}

.navbar-jhza .navbar-collapse {
  flex-grow: 0;
}

.navbar-jhza .navbar-brand img {
  width: 40px;
}
